<div class="section_container">
    <div class="title title_main">calibration !</div>
    
    <div class="intitule">You are moving <span></span></div>
    
    <div class="bt_moins">-</div>
    <div class="bt_plus">+</div>
    
    <div id="jauge_joystick">
        <div class="informations"><span class="zero">0%</span><span class="cent">100%</span></div>
        <div class="jauge_container dir_right">
            <div class="jauge_remplissage"></div>
        </div>        
    </div>
    <br>
    <input id="convert" type="text" value=""/>
    <button class="convert_bt">convert</button>
    <div class="result_convert">No result</div>
</div>