<div class="section_container">
    
    <div class="title title_main">Final Test</div>
    
    <div class="listing_bloc">
        <div class="liste">
            TSUI Connection Status : <span class="connection_status">Connected</span><br>
        </div>
        <div class="liste">
            Part Number : <span class="part_number blue"></span><br>
        </div>
        <div class="liste">
            SSO User : <span class="sso_user blue">4568A5454</span><br>
        </div>
    </div>
    
    <div id="testfinal_container">
        <div class="bouton_grey">
            Launch test
        </div>
    </div>
    
    
    
</div>