@charset "UTF-8";
/* line 2, ../sass/_header.scss */
#header .head_container {
  background: #3b73b9;
  color: white;
  text-align: center;
  height: 75px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
/* line 11, ../sass/_header.scss */
#header .head_container .head_content {
  display: inline-block;
  vertical-align: top;
  width: 1000px;
  position: relative;
}
/* line 16, ../sass/_header.scss */
#header .head_container .head_content .head_title {
  position: absolute;
  top: 20px;
  font-size: 30px;
}
/* line 21, ../sass/_header.scss */
#header .head_container .head_content .head_logo {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
/* line 26, ../sass/_header.scss */
#header .head_container .head_content .head_userinfo {
  position: absolute;
  right: 0;
  top: 11px;
}
/* line 30, ../sass/_header.scss */
#header .head_container .head_content .head_userinfo .info {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-right: 14px;
  padding-top: 6px;
}
/* line 43, ../sass/_header.scss */
#header .head_container .head_content .head_userinfo .logo_user {
  display: inline-block;
  vertical-align: top;
}
/* line 46, ../sass/_header.scss */
#header .head_container .head_content .head_userinfo .logo_user img {
  width: 50px;
  height: auto;
}

/* line 2, ../sass/_footer.scss */
#footer .footer_container {
  background: #3b73b9;
  color: white;
  text-align: center;
  height: 75px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
/* line 11, ../sass/_footer.scss */
#footer .footer_container .footer_content {
  width: 1000px;
  display: inline-block;
  vertical-align: top;
}
/* line 15, ../sass/_footer.scss */
#footer .footer_container .footer_content .footer_left {
  padding-top: 8px;
  display: inline-block;
  vertical-align: top;
  width: 48%;
}
/* line 21, ../sass/_footer.scss */
#footer .footer_container .footer_content .footer_right {
  padding-top: 17px;
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2017, 12:00:19
    Author     : J├®r├®my MOLLET
*/
/* line 1, ../sass/_homepage.scss */
#content_home {
  position: relative;
}
/* line 5, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  padding: 15px;
  background: #f3f3f3;
  min-height: 234px;
  margin: 8px;
}
/* line 13, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc {
  font-size: 22px;
  line-height: 1.8;
}
/* line 16, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone {
  top: 0px;
}
/* line 18, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone input {
  border: none;
  height: 27px;
  border-bottom: 1px solid grey;
  background: #f3f3f3;
  width: 206px;
  padding-left: 15px;
  color: #3b73b9;
  font-size: 22px;
  font-family: inspira;
}
/* line 28, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone input.inp1 {
  margin-left: 50px;
}
/* line 31, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone input.inp2 {
  margin-left: 16px;
}
/* line 34, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .info_bloc .input_zone input.inp3 {
  margin-left: 3px;
}
/* line 40, ../sass/_homepage.scss */
#content_home .section_container .bloc_container .bloc .photo_tsui {
  width: 100%;
  height: auto;
}

/* line 2, ../sass/_test.scss */
#content_hometest .bloc_test_container {
  text-align: center;
  margin-bottom: 40px;
}
/* line 5, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 10px;
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
}
/* line 13, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc .photo_tsui {
  width: 100%;
  height: auto;
}
/* line 17, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc .line {
  cursor: pointer;
}
/* line 19, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc .line:hover {
  color: #3b73b9;
}
/* line 22, ../sass/_test.scss */
#content_hometest .bloc_test_container .test_bloc .line img {
  width: 33px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}
/* line 32, ../sass/_test.scss */
#content_hometest .menu_bouton {
  text-align: center;
}
/* line 34, ../sass/_test.scss */
#content_hometest .menu_bouton .bouton {
  text-align: left;
  width: 350px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  margin-bottom: 56px;
  height: 68px;
}

/* line 47, ../sass/_test.scss */
#content_pretest {
  margin-bottom: 50px;
}
/* line 49, ../sass/_test.scss */
#content_pretest .td_head {
  background: #3b73b9;
  color: white;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding-top: 10px;
}
/* line 57, ../sass/_test.scss */
#content_pretest .td {
  width: 13.9%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
/* line 63, ../sass/_test.scss */
#content_pretest .line {
  border-bottom: 1px solid grey;
  height: 40px;
}
/* line 67, ../sass/_test.scss */
#content_pretest .line.pressed .press {
  background-color: greenyellow;
}
/* line 72, ../sass/_test.scss */
#content_pretest .line.released .rel {
  background-color: greenyellow;
}
/* line 77, ../sass/_test.scss */
#content_pretest .line .photo_piece img {
  width: 60px;
  height: 40px;
}
/* line 82, ../sass/_test.scss */
#content_pretest .line .td {
  padding-top: 10px;
  height: 30px;
}
/* line 85, ../sass/_test.scss */
#content_pretest .line .td.photo_piece {
  padding-top: 0px;
}
/* line 88, ../sass/_test.scss */
#content_pretest .line .td.test_bt {
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: orange;
  border-radius: 7px;
  height: 19px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 4px;
}
/* line 99, ../sass/_test.scss */
#content_pretest .line .td.totest {
  border: 2px solid black;
  padding: 0px;
  border-radius: 5px;
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: -10px;
  height: 25px;
  cursor: pointer;
  color: black;
}
/* line 110, ../sass/_test.scss */
#content_pretest .line .td.tested {
  border: none;
  padding: 0px;
  border-radius: 5px;
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: -10px;
  height: 25px;
  cursor: pointer;
  color: black;
}
/* line 124, ../sass/_test.scss */
#content_pretest .result_array {
  text-align: center;
  margin-top: 10px;
}
/* line 128, ../sass/_test.scss */
#content_pretest .bouton_grey {
  width: 120px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}
/* line 134, ../sass/_test.scss */
#content_pretest .bt_container {
  text-align: center;
}
/* line 137, ../sass/_test.scss */
#content_pretest .test_poppin {
  position: absolute;
  top: 986px;
  left: 0;
  right: 0;
  width: 310px;
  margin: auto;
  background: #f2f2f2;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
}
/* line 138, ../sass/_test.scss */
#content_pretest .test_poppin.hidden {
  display: none;
}

/* line 158, ../sass/_test.scss */
#content_finaltest #testfinal_container .bouton_grey {
  width: 140px;
}

/* line 2, ../sass/_calibration.scss */
#content_calibration .bt_moins {
  border: 1px solid black;
  cursor: pointer;
  width: 28px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding-top: 3px;
}
/* line 14, ../sass/_calibration.scss */
#content_calibration .bt_plus {
  border: 1px solid black;
  cursor: pointer;
  width: 28px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding-top: 3px;
}
/* line 26, ../sass/_calibration.scss */
#content_calibration .intitule {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
/* line 32, ../sass/_calibration.scss */
#content_calibration .canvas_jauge {
  position: relative;
  width: 435px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
/* line 39, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left {
  position: absolute;
  left: 0px;
  top: 201px;
}
/* line 43, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left .jauge_container {
  width: 200px;
  height: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: -2px 0px 5px 0px grey;
}
/* line 50, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_left .jauge_remplissage {
  width: 100%;
  height: 30px;
  background: white;
}
/* line 56, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right {
  position: absolute;
  left: 232px;
  top: 201px;
}
/* line 60, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right .jauge_container {
  width: 200px;
  height: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 2px 0px 5px 0px grey;
}
/* line 67, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_horizontal_right .jauge_remplissage {
  width: 0%;
  height: 30px;
  background: yellowgreen;
}
/* line 73, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top {
  position: absolute;
  left: 201px;
}
/* line 76, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top .jauge_container {
  height: 200px;
  width: 30px;
  border: 1px solid black;
  background: yellowgreen;
  box-shadow: 0px -2px 5px 0px grey;
}
/* line 83, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_top .jauge_remplissage {
  height: 100%;
  width: 30px;
  background: white;
}
/* line 89, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot {
  position: absolute;
  left: 201px;
  top: 272px;
}
/* line 93, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot .jauge_container {
  height: 200px;
  width: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 0px 2px 5px 0px grey;
}
/* line 100, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot .jauge_remplissage {
  height: 0%;
  width: 30px;
  background: yellowgreen;
}
/* line 105, ../sass/_calibration.scss */
#content_calibration .canvas_jauge #jauge_joystick_vertical_bot .informations {
  margin-top: 6px;
}
/* line 112, ../sass/_calibration.scss */
#content_calibration .informations {
  width: 200px;
  margin-bottom: 10px;
  height: 15px;
  margin-top: 15px;
}
/* line 117, ../sass/_calibration.scss */
#content_calibration .informations .zero {
  float: left;
}
/* line 121, ../sass/_calibration.scss */
#content_calibration .informations .cent {
  float: right;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2017, 12:00:49
    Author     : J├®r├®my MOLLET
*/
@font-face {
  font-family: "inspira";
  src: url("font/GEInspira.woff");
}
/* line 6, ../sass/_global.scss */
body {
  background: white;
  margin: 0;
  font-family: inspira;
}

/* line 12, ../sass/_global.scss */
.page_content {
  display: none;
}
/* line 14, ../sass/_global.scss */
.page_content.active {
  display: block;
}

/* line 19, ../sass/_global.scss */
#main_container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 774px;
  padding-top: 50px;
}

/* line 27, ../sass/_global.scss */
.title_main {
  color: #3b73b9;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

/* line 34, ../sass/_global.scss */
.title_bloc {
  color: #3b73b9;
  text-align: center;
  font-size: 25px;
  margin-bottom: 13px;
}

/* line 41, ../sass/_global.scss */
.blue {
  color: #3b73b9;
}

/* line 44, ../sass/_global.scss */
.bouton {
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  background: #3b73b9;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
}
/* line 52, ../sass/_global.scss */
.bouton:last-child {
  margin-bottom: 0px;
}
/* line 55, ../sass/_global.scss */
.bouton:hover {
  background: #3895d2;
  box-shadow: 3px 3px 3px grey;
}
/* line 59, ../sass/_global.scss */
.bouton .text {
  position: absolute;
  top: 14px;
  font-size: 32px;
  left: 118px;
}
/* line 65, ../sass/_global.scss */
.bouton .circle {
  margin-left: 25px;
  margin-top: 7px;
  width: 54px;
}

/* line 73, ../sass/_global.scss */
.bouton_grey {
  box-shadow: 3px 3px 3px black;
  background: #3b73b9;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 37px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  padding-top: 6px;
  margin-top: 21px;
  cursor: pointer;
}
/* line 87, ../sass/_global.scss */
.bouton_grey:hover {
  background: #3895d2;
  box-shadow: 3px 3px 3px grey;
}

/* line 93, ../sass/_global.scss */
.listing_bloc {
  background: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
}
/* line 97, ../sass/_global.scss */
.listing_bloc .liste {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 30%;
  margin: 5px;
  font-size: 19px;
  padding: 5px;
  line-height: 1.6;
}

/* line 108, ../sass/_global.scss */
.hidden {
  display: none !important;
}
